{% extends '@XutimSecurity/admin/security/security_base.html.twig' %}

{% block title %}Taizé website log in{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <h1>
                    <a href="" class="navbar-brand navbar-brand-autodark"
                        ><img src="./static/logo.svg" alt="" height="36"
                    /></a>
                    <span class="fw-bold">Taizé</span> website
                </h1>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">
                        {{ 'login to your account'|trans({}, 'admin')|capitalize }}
                    </h2>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{- error.messageKey|trans(error.messageData, 'security') -}}
                        </div>
                    {% endif %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# <div class="text-center">{{ locale_switcher() }}</div> #}
                    <form
                        id="login-form"
                        role="form"
                        method="post"
                        autocomplete="off"
                    >
                        <input
                            type="hidden"
                            name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        />
                        <div class="mb-3">
                            <label class="form-label"
                                >{{ 'email address'|trans({}, 'admin')|capitalize }}</label
                            >
                            <input
                                id="email"
                                name="email"
                                required="required"
                                tabindex="1"
                                type="email"
                                class="form-control"
                                placeholder="{{ 'your@email.com'|trans({}, 'admin') }}"
                                autocomplete="off"
                                autofocus="autofocus"
                            />
                        </div>

                        <div class="mb-2">
                            <label class="form-label">
                                {{ 'password'|trans({}, 'admin')|capitalize }}
                                <span class="form-label-description">
                                    <a
                                        href="{{ path('admin_forgot_password_request') }}"
                                        id="reset-password-link"
                                    >
                                        {{ 'I forgot password'|trans({}, 'admin')|capitalize }}
                                    </a>
                                </span>
                            </label>
                            <div class="input-group input-group-flat">
                                <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="{{ 'your password'|trans({}, 'admin')|capitalize }}"
                                    required="required"
                                    tabindex="2"
                                />
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="form-check">
                                <input
                                    type="checkbox"
                                    id="remember_me"
                                    name="_remember_me"
                                    tabindex="3"
                                    class="form-check-input"
                                />
                                <span class="form-check-label">
                                    {{ 'remember me on this device'|trans({}, 'admin')|capitalize }}
                                </span>
                            </label>
                        </div>

                        <div class="form-footer">
                            <twig:Xutim:Admin:Button
                                variant="primary"
                                type="submit"
                                tabindex="4"
                                id="login-submit"
                                class="w-100"
                            >
                                {{ 'sign in'|trans({}, 'admin')|capitalize }}
                            </twig:Xutim:Admin:Button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
