{% extends '@XutimCore/admin/settings/settings_layout.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}
{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ admin_path('admin_user_list') }}">Users</a>
        </li>
        <li class="breadcrumb-item">{{ user.email }}</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block pageMenu %}
    <twig:Xutim:Admin:Button
        tag="a"
        variant="nav"
        href="{{ path('homepage') }}"
    >
        <twig:Xutim:Admin:Icon name="external-link" class="me-1" />
        Public page
    </twig:Xutim:Admin:Button>
    <twig:Xutim:Admin:Button
        tag="a"
        variant="nav"
        class="me-1"
        data-turbo-frame="modal"
        href="{{ admin_path('admin_user_edit', {id: user.id}) }}"
    >
        <twig:Xutim:Admin:Icon name="edit" class="me-1" />
        {{ 'Edit'|trans({}, 'admin')|capitalize }}
    </twig:Xutim:Admin:Button>
    <twig:Xutim:Admin:ModalDialog
        class="text-danger btn btn-link nav"
        data-turbo-frame="_top"
        modalDialogColor="danger"
        action="{{ admin_path('admin_user_delete', {id: user.id}) }}"
        confirmActionLabel="{{ 'action.delete'|trans({}, 'admin')|capitalize }}"
    >
        <twig:Xutim:Admin:Icon name="trash" />
        {{ 'Delete'|trans({}, 'admin') }}
    </twig:Xutim:Admin:ModalDialog>
{% endblock %}

{% block settingsBody %}
    {{ _self.renderDatagrid(user, events, resetPasswordSent) }}
{% endblock %}

{% block stream_success %}
    <turbo-stream action="replace" targets="#user-datagrid">
        <template>
            {{ _self.renderDatagrid(user, events, resetPasswordSent) }}
        </template>
    </turbo-stream>
{% endblock %}

{% macro renderDatagrid(user, events, resetPasswordSent) %}
    <div class="datagrid" id="user-datagrid">
        <div class="datagrid-item">
            <div class="datagrid-title">{{ 'user'|trans({}, 'admin') }}</div>
            <div class="datagrid-content">
                <div class="d-flex align-items-center">
                    <span
                        class="avatar avatar-xs me-2 rounded"
                        style="background-image: url({{ user.avatar }})"
                    ></span>
                    {{ user.name }}
                </div>
            </div>
        </div>
        <div class="datagrid-item">
            <div class="datagrid-title">{{ 'email'|trans({}, 'admin') }}</div>
            <div class="datagrid-content">{{ user.email }}</div>
        </div>
        <div class="datagrid-item">
            <div class="datagrid-title">{{ 'roles'|trans({}, 'admin') }}</div>
            <div class="datagrid-content">
                {% for role in user.roles %}
                    <code>{{ role|replace({ROLE_: ''}) }}</code>
                {% endfor %}
            </div>
        </div>
        {% if user.isTranslator() %}
            <div class="datagrid-item">
                <div class="datagrid-title">
                    {{ 'languages'|trans({}, 'admin') }}
                </div>
                <div class="datagrid-content">
                    {% for locale in user.translationLocales %}
                        <code>{{ locale|language_name }}</code>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="datagrid-item">
            <div class="datagrid-title">{{ 'status'|trans({}, 'admin') }}</div>
            <div class="datagrid-content">
                <span class="status status-green">
                    {{ 'active'|trans({}, 'admin')|capitalize }}
                </span>
            </div>
        </div>
        {% if events|length > 0 %}
            <div class="datagrid-item">
                <div class="datagrid-title">
                    {{ 'created at'|trans({}, 'admin') }}
                </div>
                <div class="datagrid-content">
                    {{ events[0].event.createdAt|date('d/m/Y H:i') }}
                </div>
            </div>

            <div class="datagrid-item">
                <div class="datagrid-title">
                    {{ 'updated at'|trans({}, 'admin') }}
                </div>
                <div class="datagrid-content">
                    {{ (events|last).event.createdAt|date('d/m/Y H:i') }}
                </div>
            </div>
        {% endif %}

        <div class="datagrid-item">
            <div class="datagrid-title">
                {{ 'reset password token'|trans({}, 'admin') }}
            </div>
            <div class="datagrid-content">
                {% if resetPasswordSent is same as(true) %}
                    <span class="status status-red">
                        {{ 'reset password token has been sent'|trans({}, 'admin') }}
                    </span>
                {% else %}
                    <twig:Xutim:Admin:ModalDialog
                        class="btn-link btn-success"
                        modalDialogColor="danger"
                        action="{{ admin_path('admin_reset_password_send_token', {id: user.id}) }}"
                        confirmActionLabel="{{ 'action.approve'|trans({}, 'admin')|capitalize }}"
                    >
                        <twig:ux:icon name="tabler:checks" class="icon" />

                        {{ 'send reset password link'|trans({}, 'admin') }}
                    </twig:Xutim:Admin:ModalDialog>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
